/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  --goldenrod: #E6AC0E;
  --white: #ffffff;
  --sunburst: #9f862c;
  --cornsilk: #F7EFD1;
  --satingold: #b59b3d;
  --davysgray: #555555;
  --lightgray: #d4d4d4;
  --black: #000000;
  --blackTrans: rgba(0,0,0,0.3);
  --darkred: #960B0B;
  --darkblue: #0F0B96;
  --sapreen: #397114;
  --shadow: rgba(63, 65, 63, 0.5);
  --silver: rgb(200,200,200);
  --lightyellow: rgb(238, 238, 224);
}

body {
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Scheherazade New', serif;
  max-width: 1050px;
  margin: 0 auto;
  font-display: swap;
}


/* ******************** */
/*        HEADER        */
/* ******************** */

.joinUs {
	font-size: .5rem;
	text-align: center;
  border-top: 2px solid var(--sunburst);
  border-left: 2px solid var(--sunburst);
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
  background-color: var(--satingold);
}

header {
  background-color: var(--goldenrod);
  padding: 1rem 0;
}

.headertop {
	padding: 5px;
	display: flex;
  flex-direction: row;
	justify-content: space-between;
  background-color: var(--goldenrod);
}


/* ******************** */
/*     HEADER ORDER     */
/* ******************** */

.headertop :nth-child(1) { order: 2; }
.headertop :nth-child(2) { order: 3; }
.headertop :nth-child(3) { order: 1; }

/* ******************** */


.headings h2, h3{
	display: flex;
	flex-direction: column;
  margin: 0;
	padding-left: .5rem;
  font-family: 'Patrick Hand', cursive;
}

.headings h2 {
	font-size: 1.7rem;
}

.headings h3 {
  font-size: 1.2rem;
}


/* ******************** */
/*         LOGO         */
/* ******************** */

.logo {
	display: flex;
	align-items: flex-start;
}

.logo img {
	width: 5rem;
	height: auto;
}

.logo picture {
  display: flex;
}


/* ******************** */
/*        SOCIAL        */
/* ******************** */

.social a img{
  padding: 0.6rem;
  width: 80px;
}

a:link {
  text-decoration: none;
}


/* ******************** */
/*       HAMBURGER      */
/* ******************** */

.menu {
  padding-left: 1rem;
}

nav button{
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color: var(--davysgray);
}

nav {
  background-color: var(--goldenrod);
  margin-right: .6rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  font-size: 1.3rem;

  text-decoration: none;
  color: var(--black); 
  border-top: 1px solid var(--blackTrans);
}

nav ul li.active a {
  background-color: var(--blackTrans);
  color: var(--white);
}

nav ul li a:hover {
  background-color: var(--blackTrans);
}

nav ul { display: none; }

nav ul.open { 
  display: block; 
  text-align: left;
}

#hamburgerBtn span:nth-child(1) { display: block; }
#hamburgerBtn span:nth-child(2) { display: none; }

#hamburgerBtn.open span:nth-child(1) { display: none; }
#hamburgerBtn.open span:nth-child(2) { display: block;}


/* ******************** */
/*         DATE         */
/* ******************** */

.date {
  display: block;
  text-align: center;
  border-top: 2px solid var(--sunburst);
  border-left: 2px solid var(--sunburst);
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
  background-color: var(--cornsilk);
  padding: 1px;
  margin: 0 1rem;
} 


/* ******************** */
/*     MAIN  CHAMBER    */
/* ******************** */

main {
  display:grid;
  grid-template-columns: 98%;
  grid-gap: 5px;
  padding: 0.5rem 0;
}

main img {
  width: 100px;
  height: auto;
}

.event, .weather, .hero, .news, .join, .spotlight {
  padding-top: .5em;
  font-size: 1.2rem;
  border: 1px solid var(--davysgray);
  background-color: var(--cornsilk);
  text-align: center;
}

main h2 {
  color: var(--darkred);
  font-size: 1.5rem;
  margin: 0;
}

.linkMoreInfo {
  color: var(--darkblue);
  font-weight: bold;
}

.linkMoreInfo:hover {
  color: var(--darkred);
}

.event p {
  margin: 0;
  padding-top: 1rem;
}

.hero {
  position: relative;
} 

.welcome {
  position: absolute;
  left: 10px;
  font-size: 1.7rem;
  color: var(--darkred);
  margin: 0;
}

.herodiv img{
  width: 100%;
  height: auto;
}

.joinRRCOC {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 1.3rem;
  padding: .3rem;
}

.spotlight {
  display:grid;
  padding: 0.5rem;
} 

.spotlight p {
  margin: 0;
}

.spotlight1, .spotlight2, .spotlight3 {
  border: 1px solid var(--darkred);
  background-color: var(--cornsilk);
  padding: 0 0.5rem;
} 

.spotlight1 img{
padding: 20px 0;
}

.join {
  display: none;
}

.weather {
  padding: 0 1rem;
}

.weather-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.box-center h3{
  border: none;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.box-bottom {
  border: none;
  border-top: 2px solid var(--black);
}

.weather p{
  margin: 0;
}

.joinBox {
  margin: 0 0.5rem;
}

/* ******************** */
/*     MAIN  DISCOVER   */
/* ******************** */

.discover {
  display: block;
}

.discover img {
  width: 100%;
  padding: 1rem;
}

.discover section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--cornsilk);
  margin-bottom: 2rem;
  justify-items: center;
  font-size: 1.4rem;
}

.discover h2{
  background-color: var(--cornsilk);
  padding: 1rem;
  text-align: center;
}

.discover h1{
  text-align: center;
  font-size: 3rem;
}

.discover p {
  margin: auto 0;
  padding: 2rem;
  text-align: center;
}

.dayBefore p {
  font-size: 2rem;
  font-weight: bolder;
}

/* ******************** */
/*   MEMBERSHIP TABLE   */
/* ******************** */

table {
  border-collapse: collapse;
  letter-spacing: 0.5px;
  text-align: left;
}

thead {
  text-align: center;
}

td, th {
  border: 1px solid var(--silver);
  padding: 10px 20px;
}

td {
  text-align: center;
}

.title {
  background-color: var(--cornsilk);
}

tr:nth-child(even) td {
  background-color: var(--lightyellow);
}

tr:nth-child(odd) td {
  background-color: var(--lightgray);
}

table {
  display: none;
}

/* ******************** */
/*       MAIN  FORM     */
/* ******************** */

form {
  margin: 0 1rem;
}

.joinForm {
  display: block;
  margin: 0 auto;
}

.joinForm h1 {
  text-align: center;
}

form fieldset {
  border: 1.5px solid var(--black);
  border-radius: 10px;
}

form legend {
  color: var(--black);
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

form label.top, form div{
  display: block;
  padding: 0.5rem;
  color: var(--black);
  font-size: 1.5rem;
}

form label.top input{
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color:  var(--black);
  width: 100%;
  max-width: 20rem;
  background-color: var(--lightgray);
}

form label.sbs {
  display: block;
  padding: .75rem 2%;
  color:  var(--black);
}

form button.submitBtn {
  border: none;
  background-color: var(--darkred);
  color: var(--white);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: var(--darkred) solid 6px;
}

form label.top input:required:valid {
  border-left: var(--sapreen) solid 6px;
}

form textarea {
  font-size: 1rem;
  padding: 10px;
}

form label.sbs:hover {
  background-color: var(--cornsilk);
}

.information {
  font-size: 1rem;
  line-height: 0;
}


/* ********************* */
/*       THANK YOU       */
/* ********************* */

.thankyou {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

/* ********************* */
/*         FOOTER        */
/* ********************* */

footer {
  display: grid;
  grid-template-columns: 98%;
  background-color: var(--goldenrod);
  justify-items: center;
  text-align: center;
  box-shadow: -1px -1px 30px 20px var(--shadow);
}

.imagefooter {
  grid-column: 1 / -1;
  grid-row: 1;
}

.namefooter {
  grid-column: 1 / -1;
  grid-row: 2;
}

.mapfooter {
  grid-column: 1 / -1;
  grid-row: 3;
}

.jsfooter {
  grid-column: 1 / -1;
  grid-row: 4;
}

footer p {
  margin: .2rem;
  font-size: 1.3rem;
}


/* ********************* */
/*      FOOTER  LOGO     */
/* ********************* */

.mapfooter img {
    width: 2rem;
    height: auto;
  }

/* ********************* */
/*     FOOTER  JAVAS     */
/* ********************* */

.jsfooter {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--satingold);
}

.jsfooter1 {
  display: flex;
  flex-direction: column;
} 

.jsfooter p {
  padding: 0 1rem;
}