/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Scheherazade New', serif;
  max-width: 1050px;
  margin: 0 auto;
}


/* ******************** */
/*        HEADER        */
/* ******************** */

.joinUs {
	font-size: .5rem;
	text-align: center;
  border-top: 2px solid #9f862c;
  border-left: 2px solid #9f862c;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color: #b59b3d;
}

header {
  background-color: #ffdf6c;
  padding: 1rem 0;
}

.headertop {
	padding: 5px 0;
	display: flex;
  flex-direction: row;
	justify-content: space-between;
  background-color: #ffdf6c;
}


/* ******************** */
/*     HEADER ORDER     */
/* ******************** */

.headertop :nth-child(1) { order: 2; }
.headertop :nth-child(2) { order: 3; }
.headertop :nth-child(3) { order: 1; }

/* ******************** */


.headings h2, h3{
	display: flex;
	flex-direction: column;
  margin: 0;
	padding-left: .5rem;
  font-family: 'Patrick Hand', cursive;
}

.headings h2 {
	font-size: 1.7rem;
}

.headings h3 {
  font-size: 1.2rem;
}


/* ******************** */
/*         LOGO         */
/* ******************** */

.logo {
	display: flex;
	align-items: flex-start;
}

.logo img {
	width: 3.5rem;
	height: auto;
}

.logo picture {
  display: flex;
}


/* ******************** */
/*        SOCIAL        */
/* ******************** */


.social img {
  width: 20%;
  align-items: flex-start;
  
}

a:link {
  text-decoration: none;
}


/* ******************** */
/*       HAMBURGER      */
/* ******************** */

.menu {
  padding-left: 1rem;
}

nav button{
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color:#555;
}

nav {
  background-color: #ffdf6c;
  margin-right: .6rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  font-size: 1.3rem;

  text-decoration: none;
  color:#333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul { display: none; }

nav ul.open { 
  display: block; 
  text-align: left;
}

#hamburgerBtn span:nth-child(1) { display: block; }
#hamburgerBtn span:nth-child(2) { display: none; }

#hamburgerBtn.open span:nth-child(1) { display: none; }
#hamburgerBtn.open span:nth-child(2) { display: block;}


/* ******************** */
/*         DATE         */
/* ******************** */

.date {
  display: block;
  text-align: center;
  border-top: 2px solid #9f862c;
  border-left: 2px solid #9f862c;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color: #f7efd1;
  padding: 1px;
  margin: 0 1rem;
} 


/* ******************** */
/*         MAIN         */
/* ******************** */

main {
  display:grid;
  grid-template-columns: 98%;
  grid-gap: 5px;
  padding: 0.5rem 0;
}

.event, .weather, .hero, .news, .join, .spotlight {
  padding-top: .5em;
  font-size: 1.2rem;
  border: 1px solid gray;
  background-color: #f7efd1;
  text-align: center;
}

main h2 {
  color: #960b0b;
  font-size: 1.5rem;
  margin: 0;
}

.linkMoreInfo {
  color: rgb(5, 5, 176);
  font-weight: bold;
}

.linkMoreInfo:hover {
  color: #791b1b;
}

.event p {
  margin: 0;
  padding-top: 1rem;
}

.hero {
  position: relative;
} 

.welcome {
  position: absolute;
  left: 10px;
  font-size: 1.7rem;
  color: #d01717;
  margin: 0;
}

.herodiv img{
  width: 100%;
  height: auto;
}

.joinRRCOC {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 1.3rem;
  padding: .3rem;
}

.spotlight {
  display:grid;
  padding: 0.5rem;
} 

.spotlight p {
  margin: 0;
}

.spotlight1, .spotlight2, .spotlight3 {
  border: 1px solid #960b0b;
  background-color: #f7efd1;
  padding: 0 0.5rem;
} 

.spotlight1 img{
padding: 5px 0;
}

.join {
  display: none;
}

.weather {
  padding: 0 1rem;
}

.weather-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.box-center h3{
  border: none;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.box-bottom {
  border: none;
  border-top: 2px solid black;
}

.weather p{
  margin: 0;
}

.joinBox {
  margin: 0 0.5rem;
}


/* ********************* */
/*         FOOTER        */
/* ********************* */

footer {
  display: grid;
  grid-template-columns: 98%;
  background-color: #ffdf6c;
  justify-items: center;
  text-align: center;
  box-shadow: -1px -1px 30px 20px rgba(63, 65, 63, 0.5);
}

.imagefooter {
  grid-column: 1 / -1;
  grid-row: 1;
}

.namefooter {
  grid-column: 1 / -1;
  grid-row: 2;
}

.mapfooter {
  grid-column: 1 / -1;
  grid-row: 3;
}

.jsfooter {
  grid-column: 1 / -1;
  grid-row: 4;
}

footer p {
  margin: .2rem;
  font-size: 1.3rem;
}


/* ********************* */
/*      FOOTER  LOGO     */
/* ********************* */

.imagefooter img {
  width: 5rem;
  height: auto;
  }


/* ********************* */
/*     FOOTER  JAVAS     */
/* ********************* */

.jsfooter {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #b59b3d;
}

.jsfooter1 {
  display: flex;
  flex-direction: column;
} 

.jsfooter p {
  padding: 0 1rem;
}