@media only screen and (min-width: 64em) {

/* ******************** */
/*     HEADER ORDER     */
/* ******************** */

  .headertop :nth-child(1) { order: 1; }
  .headertop :nth-child(2) { order: 3; }
  .headertop :nth-child(3) { order: 2; }


/* ******************** */
/*         LOGO         */
/* ******************** */

  .logo {
    margin-left: 1rem; 
  }


/* ********************* */
/*       HAMBURGER       */
/* ********************* */

  nav button {
    display: none;
  }

  nav ul{
    display: flex;
    /* padding: .5rem 1rem; */
  }

  nav ul li a{
    border: none;
  }

  nav ul.open{
    display: flex;
  }


/* ********************* */
/*      MAIN SECTION     */
/* ********************* */

  .mainChamber {
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
  }

  .event {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .weather {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .join {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .hero {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .news {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .spotlight3 {
    display: grid;
  }

  .spotlight {
    grid-auto-flow: row;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
  }

  .discover section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    font-size: 1.4rem;
  }

  .joinForm {
    padding: 1rem;
  }

/* ********************* */
/*          JOIN         */
/* ********************* */

  table {
    display: contents;
  }

  .info {
    padding-top: 4rem;
  }

/* ********************* */
/*      THANK YOU        */
/* ********************* */

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

/* ********************* */
/*       DIRECTORY       */
/* ********************* */

.list section {
  flex-direction: row;
  max-width: 100%;
}

/* ********************* */
/*       FOOTER          */
/* ********************* */

  .jsfooter {
    flex-direction: column;
  }

}