body {
  margin: auto;
  width: 30rem;
  font-family: "Kalam", cursive;
}

header, footer, h2, a {
  color: rgba(88, 4, 148, 0.755);
}

header, footer {
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: rgb(196, 214, 176);  
}

header {
  display:grid;
  grid-template-columns: 30% 1fr;
  margin-top: 20px;
}

img {
  width: auto;
  height: 6rem;
}

main {
  margin: 2rem;
}

a {
  text-decoration:none;
}